<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}" type="text/css"/>
    <title>See leaderboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
</head>
<body>
<div th:replace="fragments/general :: top"/>
<select id="sel">
    <option value="/leaderboard/1">Level 1</option>
    <option value="/leaderboard/2">Level 2</option>
    <option value="/leaderboard/3">Level 3</option>
    <option value="/leaderboard/4">Level 4</option>
    <option value="/leaderboard/5">Level 5</option>
</select>
<button onclick="location=document.getElementById('sel').value">GO</button>
<br>
<div th:each="level : ${levels}">
    <span th:text="${level.score}">score</span>
    <span th:text="${level.user.username}">user</span>
</div>
</body>
</html>